<div data-role="view" data-transition="slide">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="backbutton" data-align="left">Home</a>
			Checkbox
		</div>
	</div>
	<ul data-role="listview" data-style="inset" data-type="group">
		<li>
			Checkbox
			<ul>
				<li>
					<label>
						<input type="checkbox" checked="checked" />
						Sencha Touch
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" />
						PhoneJs
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" />
						Kendo 
					</label>
				</li>
				<li>
					<label>
						<input type="checkbox" />
						Ionic 
					</label>
				</li>
			</ul>
		</li>
	</ul>
	
</div>