<div data-role="view" data-transition="slide">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="backbutton" data-align="left">Home</a>
			EditText/TextView
		</div>
	</div>
	<ul data-role="listview" data-style="inset">
		<li>
			<label>Text
				<input type="text" value="Text" />
			</label>
		</li>
		<li>
			<label>
				Password
				<input type="password" value="password" />
			</label>
		</li>
		
		
		<li>
			<label>
				Email
				<input type="email" value="kendoui@telerik.com" />
			</label>
		</li>
		<li>
			<label>
				Number
				<input type="number" value="20" />
			</label>
		</li>
		<li>
			<label>
				Textarea
				<textarea >Multiline Text</textarea>
			</label>
		</li>
	</ul>
</div>