<div data-role="view" data-transition="slide">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="backbutton" data-align="left">Home</a>
			DropDown
		</div>
	</div>
	<ul data-role="listview" data-style="inset">
	<li>
	<label>DropDown
		<select id="dropdown">
			<option value="First Option">Sencha Touch</option>
			<option value="Second Option">Kendo</option>
			<option value="Third Option">PhoneJs</option>
			<option value="Fourth Option">Ionic</option>
		</select>
	</label>
	</li>
	</ul>
</div>