<div data-role="view" data-transition="slide">
	<div data-role="header">
		<div data-role="navbar">
			<a data-role="backbutton" data-align="left">Home</a>
			Dialogs
		</div>
	</div>
  	<script>
		function close() {
  			$("#foo").data("kendoMobilePopOver").close();
		}
	</script>
    <a data-role="button" href="#foo" data-rel="popover">Open PopOver</a>
    <div id="foo" data-role="popover" data-popup='{ "height": "200", "width":"200" }'>
    	<div data-role="view">
      		<a data-role="button" data-click="close">Close me</a>
      		<p>Popover contents</p>
    	</div>
  </div>
</div>